*{
    margin: 0;
}

/*-------------------------------------------------------------*/

header
{
    background-color: #9BD2DE;
    height: 180px;
}

.Logo
{
    margin-left: 250px;
    margin-top: 56px;
}

#menu ul
{
    list-style: none;
    word-spacing: 50px;
    margin-right: 200px;
    margin-top: -45px;
    text-align: right;
}

#menu li
{
    display: inline;
    font-size: 20px;
}

/*-------------------------------------------------------------*/

main{
    height: 330px;
    background-color: #ffffff;
}

.section-container-main{
    width: 100%;
    height: 330px;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.section-container-top{
    height: 50%;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.cinema{
    width: 100px;
    height: 100px;
}

.section-container-bot{
    height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section-container-film{
    width: 20%;
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: baseline;
}

.section-container-ul{
    width: 25%;
    height: 100%;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
}

.section-container-button{
    width: 55%;
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}

#ul
{
    list-style: none;
}

#ul li
{
    font-size: 20px;
}

button
{
    background-color: red;
    color: white;
    width: 150px;
    height: 58px;
}

/*-------------------------------------------------------------*/

footer
{
    background-color: #F6511D;
    height: 180px;
}

.section-container-footer{
    width: 100%;
    height: 180px;
    display: flex;
	justify-content: space-around;
}

.section-container-logo{
    width: 35%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.section-container-barra{
    width: 20%;
    display: flex;
    justify-content: center;
}

.section-container-barra hr{
    color: white;
}

.section-container-info{
    width: 45%;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
}

.section-container-info a{
    color: white;
}